<div class='wrapper'>
    <a class='arrow prev icon-angle-left'></a>
    <a class='arrow next icon-angle-right'></a>
    <ul class='actions'>
        <li><a class='advice'><i class='icon-advice'></i>Beratung</a></li>
        <li><a class='info'><i class='icon-info'></i>Infoseite</a></li>
        <li><a class='repeat'><i class='icon-repeat'></i>Wiederh</a></li>
    </ul>
    <div class='carousel'>
        <% $.each(items, function(idx, item) { %>
        <a href="#" data-entry-id='<%=item.id%>'>
            <div class="push16x9"></div>
            <img data-src='<%=item.thumbnailUrl%>/width/352/height/198/type/3'>
            <div class="text"><p><%=item.name%></p></div>
        </a>
        <% }); %>
    </div>
</div>