.sskEndScreen{
    @mixin bgColor(){
        background:#666;
        background:rgba(50,50,50,.5);
    }

    @mixin no-select {
      user-select: none;
      -o-user-select:none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
    }

    .wrapper{
        width:40%;
        height:280px;
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        top:0;
        margin:auto;

        > .actions{ display:block; text-align:center; height:70px; padding:0; margin:0 auto 4px;
            > li{ display:inline-block; height:100%; width:23%;
                > a{ display:block; height:100%; @include bgColor(); color:#FFF; text-align:center; cursor:pointer; transition:.15s;
                    text-decoration: none;
                    > i{ display:block; font-size:2.3em; line-height:50px; }
                    &:hover{ background:#333; }
                }
            }
        }
        > .arrow{ @include no-select();   position:absolute; top:50%; height:50px; width:50px; line-height:50px; border-radius:50%; @include bgColor(); color:#FFF; text-align:center; font-size:2.5em; cursor:pointer; transition:.15s;
            &.prev{ left:-2em; text-indent:-0.1em; }
            &.next{ right:-2em; text-indent:0.1em; }
            &:hover{ background:#333; box-shadow:0 0 0 6px #333; }
        }

        .carousel{ white-space:nowrap; overflow:hidden;
            > a{ display:inline-block; width:100%; white-space:normal; overflow:hidden; position:relative; transition:.2s ease-out;
                > div.push16x9{ margin-top: 56.25%; }
                > img{ display:block; position:absolute; top:0; width:100%; }
                > div.text{ @include bgColor(); color:#FFF; padding:1em; position:absolute; bottom:0; left:0; right:0; transition:.1s ease-out; }
                p{ margin:0; }
                &:hover{
                    > div.text{ padding:2em 1em; background:rgba(0,0,0,.55); }
                }
            }
        }
    }
}